
header{

    display: flex;
    justify-content: center;

    .principal-header{
        justify-content: space-between;
    }
    
    .landing-header {
        justify-content: space-between;
        width: 1350px;
        background-color: aqua;
        position: fixed;
        z-index: 1000;
    }
}

