//COLORES
$WHITE: #fff;
$PRIMARY: #05FFFC;
$SECONDARY: #30AACC;
$SAND: #E5EFC1;
$PARAG: #647D8E;
$BACKGROUND: linear-gradient(101deg, #0C2231 , #193E57);



//Transicion: 
$TRANSITION : 300ms all ease-in-out;