@import "~bootstrap/scss/bootstrap";
@import 'variables';
@import 'header';
@import 'Banner';
@import 'QuienSomos';
@import './src/sass/Utility/Text';






* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
  
body {
    margin: 0;
    background: $BACKGROUND;
    font-family: 'Lato', sans-serif;
    color: $WHITE;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        width: 12px;
        background-color:rgb(0, 1, 20);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color:$PRIMARY;
      }
}
hr {
    width: 80%;
    position:absolute;
    bottom: 2rem;
    color: $SAND;
}
a {
    text-decoration: none;
    color: inherit;
    transition: $TRANSITION;
}
li {
    list-style: none;
}